{
    "plugins": [
        [
            "babel-plugin-root-import", {
                "paths" :  [
                    {
                        "rootPathSuffix": "./resources/js",
                        "rootPathPrefix": "~/",
                    },
                ],
            }

        ]
    ]

}
